*
{
    font-family: 'Assistant', sans-serif;
}


/*------------------------------------------------------------------Sidebar------------------------------------------------------------------*/
.siteNavi
{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid rgb(230, 230, 230);
}

.siteNavi_ul
{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 77%;
    padding: 0 6.6666666667vw;
    transition-property: opacity,transform;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.4,.1,.2,1);
    transition-delay: .2s;
}


.siteNavi_li
{
    text-align: -webkit-match-parent;
    margin: 0;
    padding: 0;
}
/*------------------------------------------------------------------Sidebar(LinkEffect)------------------------------------------------------------------*/
.siteNavi_a {
    height: 100px;
    align-items: center;
    color: #000;
    text-decoration: none;
    display: flex;
  }

.textHideLink {
    position: relative;
    padding: 0;
    height: 50px;
    overflow: hidden;
}

.textLinkContainer {
    transition: transform 0.4s ease;
}

.text1LinkNav {
    display: block;
    font-size: 50px;
    line-height: 50px;
    transition: transform 0.4s ease;
    transform-origin: right center;
}

.text2LinkNav {
    display: block;
    font-size: 50px;
    line-height: 50px;
    transition: transform 0.4s ease;
    transform-origin: left center;
    transform: rotate(20deg);
    font-weight: bold;
}

.siteNavi_a:hover .textLinkContainer {
    transform: translateY(-50px);
}

.siteNavi_a:hover .text1LinkNav {
    transform: rotate(20deg);
}

.siteNavi_a:hover .text2LinkNav {
    transform: rotate(0);
}
/*------------------------------------------------------------------Sidebar(LinkEffectEnd)------------------------------------------------------------------*/ 

.containerDNav
{
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 20%;
    padding: 0 6.6666666667vw;
    transition-property: opacity,transform;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.4,.1,.2,1);
    transition-delay: .2s;
}

.siteNavi_aD {
    height: 40px;
    align-items: center;
    color: #000;
    text-decoration: none;
    display: flex;
  }

.textHideLinkD {
    position: relative;
    padding: 0;
    height: 25px;
    overflow: hidden;
}

.textLinkContainerD {
    transition: transform 0.4s ease;
}

.text1LinkNavD {
    display: block;
    font-size: 20px;
    line-height: 20px;
    transition: transform 0.4s ease;
    transform-origin: right center;
}

.text2LinkNavD {
    display: block;
    font-size: 20px;
    line-height: 20px;
    transition: transform 0.4s ease;
    transform-origin: left center;
    transform: rotate(20deg);
    font-weight: bold;
}

.siteNavi_aD:hover .textLinkContainerD {
    transform: translateY(-20px);
}

.siteNavi_aD:hover .text1LinkNavD {
    transform: rotate(20deg);
}

.siteNavi_aD:hover .text2LinkNavD {
    transform: rotate(0);
}
