/*------------------------BASE------------------------*/

body{
    margin: 0;
}

img{
    max-width:100%;
    max-height:100%;
}

/*------------------------BACKGROUND------------------------*/
.background-effect {
    height: 100vh;
    background-color:rgb(255, 255, 255);
  }
  
.background-effect:after {
    animation: grain 8s steps(10) infinite;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -110%;
    width: 300%;
  }
  
@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  }


/*------------------------container-page------------------------*/
.container-page{
    display: grid;
    grid-template-columns: 26.30% 73.70%;
}
/*------------------------navbar-project------------------------*/
/*------------------------section-project------------------------*/

.psct{
    min-width: 100%;
}

.ps-text{
    font-size: 180px;
    margin: 0;
}

.ps-container{
    display: flex;
    flex-direction: column;
}

.ps-c-card{
    margin-top: 95px;
}

.ps-c-c-ligne{
    height: 1px;
    background: rgb(0, 0, 0);
}

.ps-c-c-infoligne{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-top: 16px;
    margin-bottom: 48px;
}



.ps-c-c-infoligne > .ps-c-c-i-theme{
    justify-self: center;
}

.ps-c-c-infoligne > .ps-c-c-i-date{
    justify-self: end;
}

.ps-adjust{
    display: grid;
    grid-template-columns: 35.5% 64.5%;
}

@media (max-width: 700px) { 
    .ps-adjust{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}



